<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginConf</servlet-name>
        <servlet-class>servlet.loginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userAcConf</servlet-name>
        <servlet-class>servlet.userAcConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedConf</servlet-name>
        <servlet-class>servlet.feedConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReplyConf</servlet-name>
        <servlet-class>servlet.AdminReplyConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePswdConf</servlet-name>
        <servlet-class>servlet.changePswdConf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginConf</servlet-name>
        <url-pattern>/loginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAcConf</servlet-name>
        <url-pattern>/userAcConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedConf</servlet-name>
        <url-pattern>/feedConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReplyConf</servlet-name>
        <url-pattern>/AdminReplyConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePswdConf</servlet-name>
        <url-pattern>/changePswdConf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
